<p id="notice"><%= notice %></p>

<p>
  <b>Char name:</b>
  <%= @character_bot.char_name %>
</p>

<p>
  <b>Gold:</b>
  <%= @character_bot.gold %>
</p>

<p>
  <b>Lv:</b>
  <%= @character_bot.lv %>
</p>

<p>
  <b>Atk1:</b>
  <%= @character_bot.atk1 %>
</p>

<p>
  <b>Atk2:</b>
  <%= @character_bot.atk2 %>
</p>

<p>
  <b>Atk3:</b>
  <%= @character_bot.atk3 %>
</p>

<p>
  <b>Def:</b>
  <%= @character_bot.def %>
</p>

<p>
  <b>Hp:</b>
  <%= @character_bot.hp %>
</p>

<p>
  <b>Mp:</b>
  <%= @character_bot.mp %>
</p>

<p>
  <b>Medal:</b>
  <%= @character_bot.medal %>
</p>

<p>
  <b>Char gender:</b>
  <%= @character_bot.char_gender %>
</p>

<p>
  <b>Char race:</b>
  <%= @character_bot.char_race %>
</p>

<p>
  <b>Online:</b>
  <%= @character_bot.online %>
</p>

<p>
  <b>Ban:</b>
  <%= @character_bot.ban %>
</p>

<p>
  <b>Win number:</b>
  <%= @character_bot.win_number %>
</p>

<p>
  <b>Lose number:</b>
  <%= @character_bot.lose_number %>
</p>


<%= link_to 'Edit', edit_character_bot_path(@character_bot) %> |
<%= link_to 'Back', character_bots_path %>
