<%= simple_form_for @race,  html:{:id => 'add_new_race',:class => 'form-horizontal'} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :atk1 %>
    <%= f.input :atk2 %>
    <%= f.input :atk3 %>
    <%= f.input :def %>
    <%= f.input :hp %>
    <%= f.input :char_race %>
  </div>

    <%= f.button :submit,:class =>'btn-primary' %>
<% end %>
