<p id="notice"><%= notice %></p>

<p>
  <b>Atk1:</b>
  <%= @race.atk1 %>
</p>

<p>
  <b>Atk2:</b>
  <%= @race.atk2 %>
</p>

<p>
  <b>Atk3:</b>
  <%= @race.atk3 %>
</p>

<p>
  <b>Def:</b>
  <%= @race.def %>
</p>

<p>
  <b>Hp:</b>
  <%= @race.hp %>
</p>

<p>
  <b>Mp:</b>
  <%= @race.mp %>
</p>

<p>
  <b>Char race:</b>
  <%= @race.char_race %>
</p>


<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
