<div class="page-content">
  <div class="page-header position-relative">
    <h1>User Details</h1>
  </div>
  <!--/.page-header-->

  <div class="row-fluid">
    <div class="span12">
      <!--PAGE CONTENT BEGINS-->

      <div class="row-fluid">
        <p id="notice"><%= notice %></p>
        <% breadcrumb :user, @user %>


        <p id="notice"><%= notice %></p>

        <p>
          <b>User name:</b>
          <%= @user.username %>
        </p>

        <p>
          <b>Email:</b>
          <%= @user.email %>
        </p>

        <p>
          <b>First name:</b>
          <%= @user.first_name %>
        </p>

        <p>
          <b>Last name:</b>
          <%= @user.last_name %>
        </p>

        <p>
          <b>Telephone:</b>
          <%= @user.telephone %>
        </p>

        <p>
          <b>Role:</b>
          <%= @user.roles.first.name %>
        </p>

        <p>
          <b>Role:</b>
          <%= @user.roles.first.name %>
        </p>

        <p>
          <b>Address:</b>
          <%= @user.address %>
        </p>

        <!--:apn_token => self.apn_token,-->
        <!--:area_code => self.area_code,-->
        <!--:avatar => self.avatar,-->
        <!--:birthday => self.birthday,-->
        <!--:city => self.city,-->
        <!--:country => self.country,-->
        <!--:cover => self.cover,-->
        <!--:created_date => self.created_date,-->
        <!--:email => self.email,-->
        <!--:facebook_id  => self.facebook_id,-->
        <!--:gcm_token  => self.gcm_token,-->
        <!--:google_id => self.google_id,-->
        <!--:language => self.language,-->
        <!--:name => self.name,-->
        <!--:note  => self.note,-->
        <!--:phone  => self.phone,-->
        <!--:sex   => self.sex,-->
        <!--:twitter_id  => self.twitter_id,-->
        <!--:user_type   => self.user_type,-->
        <!--:avatar_thumb => self.avatar_thumb,-->
        <!--:ubox_authentication_token => self.ubox_authentication_token,-->
        <!--:authentication_token => self.authentication_token-->


        <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-primary btn-small' %>
        <%= link_to 'Back', users_path, :class => 'btn btn-warning btn-small' %>

      </div>
    </div>
  </div>
</div>






