<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-striped table-bordered table-hover pretty">
  <thead>
  <tr>
    <th><%= sortable "char_name" %></th>
    <th>Gem</th>
    <th>Gold</th>
    <th>Lv</th>
    <th>Atk1</th>
    <th>Atk2</th>
    <th>Atk3</th>
    <th>Def</th>
    <th>Hp</th>
    <th>Life</th>
    <th>Gender</th>
    <th>Race</th>
    <!--<th>Online</th>-->
    <th>Ban</th>
    <th></th>
  </tr>
  <thead>
  <tbody>
  <% @characters.each do |character| %>
      <tr>
        <td><%=  link_to character.char_name, character %></td>
        <td><%= character.gem %></td>
        <td><%= character.gold %></td>
        <td><%= character.lv %></td>
        <td><%= character.atk1 %></td>
        <td><%= character.atk2 %></td>
        <td><%= character.atk3 %></td>
        <td><%= character.def %></td>
        <td><%= character.hp %></td>
        <td><%= character.life %></td>
        <td><%= character.char_gender %></td>
        <td><%= character.char_race %></td>
        <!--<td> character.user ? (character.user.is_login ? character.user.is_login : false): false </td>-->
        <td><%= character.ban %></td>

        <td class="badge-right right">
          <div class="align-center">
            <a class="btn btn-mini btn-info" href="<%= edit_character_path(character) %>">
              <i class="icon-edit bigger-120"></i>
            </a>
            <a class="btn btn-mini btn-danger"
               rel="nofollow"  data-method="delete" data-confirm="Are you sure?" href="<%= character_path(character) %>">
              <i class="icon-trash bigger-120"></i>
            </a>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="digg_pagination" style="background: transparent;">
  <%= will_paginate @characters %>
</div>