<style>
    .form-horizontal .control-label {
        float: left;
        padding-top: 5px;
        text-align: right;
        width: 200px;
    }

    .form-horizontal .controls {
        margin-left: 220px;
    }
</style>
<%= simple_form_for @character,  html:{:id => 'add_new_character',:class => 'form-horizontal'} do |f| %>
    <% if @character.errors.any? %>
        <%= display_base_errors @character %>
    <% end %>

  <div class="form-inputs">
    <%= f.input :user do %>
        <%= f.select :user_id, User.all.map { |r| [r.username, r.id] }, include_blank: false %>
    <% end %>
    <%= f.input :char_name %>
    <%= f.label :char_gender %>
    <%= f.input :char_gender, :collection => [['Male',0],['Female',1]], :as => :radio_buttons,
                :label_method => lambda {|t| "<span class='lbl'>".html_safe + t[0].titleize + "</span>".html_safe}, :label => false,
                #:item_wrapper_class => 'inline',
                checked: 1
    %>
    <%= f.input :char_race %>
  </div>

    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
