    <%= simple_form_for @version,  html:{:id => 'add_new_item_group',:class => 'form-horizontal'} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :version %>
    <%= f.input :download_url %>
    <%= f.input :description,:input_html => { 'rows' => 5, 'cols' => 10 } %>

  </div>

     <%= f.button :submit,:class =>'btn-primary' %>
<% end %>
