<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @version.name %>
</p>

<p>
  <b>Version:</b>
  <%= @version.version %>
</p>
<p>
  <b>Apk file Url:</b>
  <%= link_to 'Download Apk', @version.apk_file.url %>
</p>

<p>
  <b>jar file Url:</b>
  <%= link_to 'Download Jar', @version.jar_file.url %>
</p>

<p>
  <b>Description:</b>
  <%= @version.description %>
</p>


<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', versions_path %>
