<%= simple_form_for @user_item,  html:{:id => 'add_new_user_item',:class => 'form-horizontal'} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :character do %>
        <%= f.select :character_id, Character.all.map { |r| [r.char_name, r.id] }, include_blank: false %>
    <% end %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :level %>
    <%= f.input :health %>
    <%= f.input :atk %>
    <%= f.input :def %>
    <%= f.input :dam %>
    <%= f.input :pc_dam %>
    <%= f.input :pc_atk %>

  </div>

    <%= f.button :submit,:class =>'btn-primary' %>
<% end %>
