<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-striped table-bordered table-hover pretty">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Level</th>
    <th>Health</th>
    <th>Atk</th>
    <th>Def</th>
    <th>Dam</th>
    <th>%Dam</th>
    <th>%Atk</th>
    <th>Permanent</th>
    <th>Owner User</th>
    <th>Character</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <% @user_items.each do |user_item| %>
      <tr>
        <td><%= user_item.name %></td>
        <td><%= user_item.description %></td>
        <td><%= user_item.level %></td>
        <td><%= user_item.health %></td>
        <td><%= user_item.atk %></td>
        <td><%= user_item.def %></td>
        <td><%= user_item.dam %></td>
        <td><%= user_item.pc_dam %></td>
        <td><%= user_item.pc_atk %></td>
        <td><%= user_item.permanent %></td>
        <td><%= (user_item.character and user_item.character.user) ? user_item.character.user.username : '' %></td>
        <td><%= user_item.character ? user_item.character.char_name : '' %></td>
        <td><%= link_to 'Show', user_item %></td>
        <td><%= link_to 'Edit', edit_user_item_path(user_item) %></td>
        <td><%= link_to 'Destroy', user_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="digg_pagination" style="background: transparent;">
  <%= will_paginate @user_items %>
</div>
</div>