<% breadcrumb :items %>
<div class="page-content">
  <div class="page-header position-relative">
    <h1>Listing items</h1>
  </div><!--/.page-header-->

  <div class="row-fluid">
    <div class="span12">
      <%= form_tag items_path ,remote: true, :method => 'get',:id => "items_search" do %>
          <p class="form-inline">
            <%= select_tag 'item_group', options_from_collection_for_select(ItemGroup.all,'id', 'name'),:prompt=>"Choose Group" %>
            <%= select_tag 'item_type', options_from_collection_for_select(ItemType.all,'id', 'name'),:prompt=>"Choose Type" %>
            <%= text_field_tag :search, params[:search],:placeholder=>"Search char name..." %>
            <%= submit_tag "Search", :name => nil,:class => 'btn btn-primary' %>
          </p>
          <div id="item_table">
            <%= render 'items' %>
          </div>
      <% end %>

      <div class="space-4"></div>
      <%= link_to 'New Item', new_item_path, :class => 'btn btn-primary btn-small' %>
    </div>
  </div>
</div>

<script>
    $(function () {
        // Search form.
        $('#items_search').submit(function () {
            $.get(this.action, $(this).serialize(), null, 'script');
            return false;
        });
    });
</script>

