<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Image:</b>
</p>
<p>

  <%= @item.image_name.path ? image_tag(@item.image_name.url()) : '' %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Level:</b>
  <%= @item.level %>
</p>

<p>
  <b>Health:</b>
  <%= @item.health %>
</p>

<p>
  <b>Atk:</b>
  <%= @item.atk %>
</p>

<p>
  <b>Def:</b>
  <%= @item.def %>
</p>

<p>
  <b>Dam:</b>
  <%= @item.dam %>
</p>

<p>
  <b>Percent Dam:</b>
  <%= @item.pc_dam %>
</p>

<p>
  <b>Percent Attack:</b>
  <%= @item.pc_atk %>
</p>
<p>
  <b>Permanent:</b>
  <%= @item.permanent %>
</p>


<p>
  <b>Item group:</b>
  <%= @item.item_group ? @item.item_group.name : '' %>
</p>

<p>
  <b>Item Type:</b>
  <%= @item.item_type ? @item.item_type.name : '' %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
