<div class="sidebar" id="sidebar">
  <div class="sidebar-shortcuts" id="sidebar-shortcuts">

    <!--<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">-->
      <!--<button class="btn btn-small btn-success">-->
        <!--<i class="icon-signal"></i>-->
      <!--</button>-->

      <!--<button class="btn btn-small btn-info">-->
        <!--<i class="icon-pencil"></i>-->
      <!--</button>-->

      <!--<button class="btn btn-small btn-warning">-->
        <!--<i class="icon-group"></i>-->
      <!--</button>-->

      <!--<button class="btn btn-small btn-danger">-->
        <!--<i class="icon-cogs"></i>-->
      <!--</button>-->
    <!--</div>-->

    <!--<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">-->
      <!--<span class="btn btn-success"></span>-->

      <!--<span class="btn btn-info"></span>-->

      <!--<span class="btn btn-warning"></span>-->

      <!--<span class="btn btn-danger"></span>-->
    <!--</div>-->
  </div>
  <!--#sidebar-shortcuts-->

  <ul class="nav nav-list">
    <% if user_signed_in? %>
        <% if current_user.has_role? :admin or current_user.has_role? :businessOwner or current_user.has_role? :saleLeader %>
            <li>
              <a href="<%= users_path %>">
                <i class="icon-user"></i>
                <span class="menu-text"> User </span>
              </a>
            </li>


            <li>
              <a href="#"  class="dropdown-toggle">
                <i class="icon-group"></i>
                <span class="menu-text"> Client </span>
                <b class="arrow icon-angle-down"></b>
              </a>
              <ul class="submenu">
                <li>
                  <a href="<%= new_client_path %>">
                    <i class="icon-double-angle-right"></i>
                    Add client
                  </a>
                </li>
                <li>
                  <a href="<%= clients_path %>">
                    <i class="icon-double-angle-right"></i>
                    List clients
                  </a>
                </li>
                <!--<li>-->
                  <!--<a href="#">-->
                    <!--<i class="icon-double-angle-right"></i>-->
                    <!--Add Note-->
                  <!--</a>-->
                <!--</li>-->

                <li>
                  <a href="#">
                    <i class="icon-double-angle-right"></i>
                    Client Answers
                  </a>
                </li>
                <li>
                  <a href="<%= industries_path %>">
                    <i class="icon-double-angle-right"></i>
                    List Industry
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a href="<%= meetings_path %>">
                <i class="icon-calendar"></i>

							<span class="menu-text">
								Meeting
							</span>
              </a>
            </li>

            <li>
              <a href="#" class="dropdown-toggle">
                <i class="icon-file"></i>
                <span class="menu-text"> Schedule </span>

                <b class="arrow icon-angle-down"></b>
              </a>

              <ul class="submenu">
                <li>
                  <a href="<%= new_schedule_path %>">
                    <i class="icon-double-angle-right"></i>
                    Make Schedule
                  </a>
                </li>

                <li>
                  <a href="<%= schedules_path %>">
                    <i class="icon-double-angle-right"></i>
                    List Schedules
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="dropdown-toggle">
                <i class="icon-file"></i>
                <span class="menu-text"> Question </span>

                <b class="arrow icon-angle-down"></b>
              </a>

              <ul class="submenu">
                <!--<li>-->
                  <!--<a href="<%= industries_path %>">-->
                    <!--<i class="icon-double-angle-right"></i>-->
                    <!--List Industry-->
                  <!--</a>-->
                <!--</li>-->

                <li>
                  <a href="<%= questions_path %>">
                    <i class="icon-double-angle-right"></i>
                    List Question
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="icon-bar-chart"></i>
                <span class="menu-text"> Statistic </span>
              </a>
            </li>
         <% elsif current_user.has_role? :saleStaff %>
          <!--<li>-->
            <!--<a href="<%= users_path %>">-->
              <!--<i class="icon-user"></i>-->
              <!--<span class="menu-text"> User </span>-->
            <!--</a>-->
          <!--</li>-->


          <li>
            <a href="#"  class="dropdown-toggle">
              <i class="icon-group"></i>
              <span class="menu-text"> Client </span>
              <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
              <li>
                <a href="<%= my_client_clients_path %>">
                  <i class="icon-double-angle-right"></i>
                  My clients
                </a>
              </li>
              <!--<li>-->
                <!--<a href="#">-->
                  <!--<i class="icon-double-angle-right"></i>-->
                  <!--Add Note-->
                <!--</a>-->
              <!--</li>-->

              <!--<li>-->
                <!--<a href="#">-->
                  <!--<i class="icon-double-angle-right"></i>-->
                  <!--Client Answers-->
                <!--</a>-->
              <!--</li>-->
            </ul>
          </li>

          <li>
            <a href="<%= meetings_path %>">
              <i class="icon-calendar"></i>

							<span class="menu-text">
								Meeting
							</span>
            </a>
          </li>

          <li>
            <a href="#" class="dropdown-toggle">
              <i class="icon-file"></i>
              <span class="menu-text"> Schedule </span>

              <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
              <li>
                <a href="<%= new_schedule_path %>">
                  <i class="icon-double-angle-right"></i>
                  Make Schedule
                </a>
              </li>

              <li>
                <a href="<%= schedules_path %>">
                  <i class="icon-double-angle-right"></i>
                  List Schedules
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="dropdown-toggle">
              <i class="icon-file"></i>
              <span class="menu-text"> Question </span>

              <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
              <li>
                <a href="<%= industries_path %>">
                  <i class="icon-double-angle-right"></i>
                  List Industry
                </a>
              </li>

              <li>
                <a href="<%= questions_path %>">
                  <i class="icon-double-angle-right"></i>
                  List Question
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#">
              <i class="icon-bar-chart"></i>
              <span class="menu-text"> Statistic </span>
            </a>
          </li>
        <% end %>

    <% end %>


    <li>
      <a href="<%= introduction_path %>">
        <i class="icon-info"></i>
        <span class="menu-text"> Introduction </span>
      </a>
    </li>
    <li>
      <a href="<%= about_us_path %>">
        <i class="icon-info"></i>
        <span class="menu-text"> About Us </span>
      </a>
    </li>
    <li>
      <a href="<%= package_payment_path %>">
        <i class="icon-dollar"></i>
        <span class="menu-text"> Package Payment </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-pencil"></i>
        <span class="menu-text"> Contact Us </span>
      </a>
    </li>

  </ul>
  <!--/.nav-list-->

  <div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left"></i>
  </div>
</div>