<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
  <title><%= content_for?(:title) ? yield(:title) : "IpadApp" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "IpadApp" %>">
  <%= javascript_include_tag 'application' %>
  <%= yield :javascripts %>
  <%= stylesheet_link_tag 'application', :media => "all" %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= render 'layouts/navigation' %>
    </div>
  </div>
</div>
<!--<div id="main" role="main">-->
<div class="main-container container-fluid">
  <%= render 'layouts/sidebar' %>
  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <%= render 'layouts/breadcrumbs' %>
      <div class="nav-search" id="nav-search">
        <!--
        <form class="form-search" />
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="icon-search nav-search-icon"></i>
							</span>
        </form>
        -->
      </div><!--#nav-search-->
    </div>

    <div class="page-content">
        <div class="row-fluid">
        <div class="span12">
            <!--PAGE CONTENT BEGINS-->
            <%= render 'layouts/messages' %>
            <%= yield %>
            <!--PAGE CONTENT ENDS-->
        </div><!--/.span-->
        </div><!--/.row-fluid-->
    </div><!--/.page-content-->

    <!--<div class="ace-settings-container" id="ace-settings-container">-->
      <!--<div class="btn btn-app btn-mini btn-warning ace-settings-btn" id="ace-settings-btn">-->
        <!--<i class="icon-cog bigger-150"></i>-->
      <!--</div>-->

      <!--<div class="ace-settings-box" id="ace-settings-box">-->
        <!--<div>-->
          <!--<div class="pull-left">-->
            <!--<select id="skin-colorpicker" class="hide">-->
              <!--<option data-class="default" value="#438EB9" />#438EB9-->
              <!--<option data-class="skin-1" value="#222A2D" />#222A2D-->
              <!--<option data-class="skin-2" value="#C6487E" />#C6487E-->
              <!--<option data-class="skin-3" value="#D0D0D0" />#D0D0D0-->
            <!--</select>-->
          <!--</div>-->
          <!--<span>&nbsp; Choose Skin</span>-->
        <!--</div>-->

        <!--<div>-->
          <!--<input type="checkbox" class="ace-checkbox-2" id="ace-settings-header" />-->
          <!--<label class="lbl" for="ace-settings-header"> Fixed Header</label>-->
        <!--</div>-->

        <!--<div>-->
          <!--<input type="checkbox" class="ace-checkbox-2" id="ace-settings-sidebar" />-->
          <!--<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>-->
        <!--</div>-->

        <!--<div>-->
          <!--<input type="checkbox" class="ace-checkbox-2" id="ace-settings-breadcrumbs" />-->
          <!--<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>-->
        <!--</div>-->

        <!--<div>-->
          <!--<input type="checkbox" class="ace-checkbox-2" id="ace-settings-rtl" />-->
          <!--<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash;/#ace-settings-container&ndash;&gt;-->


  </div><!--/.main-content-->
</div> <!--! end of #main -->
</body>
</html>
